.chat-input-container {
  .ql-toolbar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #f8f9fa;
    border-color: #e2e8f0;
  }

  .ql-container {
    /* border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: #e2e8f0; */
    border: none;
    font-size: 14px;
    line-height: 1.5;
  }

  .ql-editor {
    overflow-y: auto;
    padding: 0;
    margin: 12px 15px;
  }

  /* Styles for Emoji Blot */
  .im-emoji-blot {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    user-select: auto;
    line-height: normal;

    .im-emojione {
      display: inline-block;
      height: 100%;
      width: 100%;
      vertical-align: text-bottom;
      user-select: auto;
    }
  }

  /* Styles for Mention Blot */
  .im-mention-blot {
    display: inline-block;
    background-color: rgba(102, 126, 234, 0.1);
    border-radius: 3px;
    padding: 0 3px;
    color: #667eea;
    font-weight: 500;
    cursor: default;
    user-select: auto;
  }

  /* Styles for custom Image Blot */
  .im-image-blot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height: auto;
  }
}

.quill {
  height: 100%;
}

/* Hide toolbar via class */
.chat-input-container.hide-toolbar .ql-toolbar {
  display: none;
}

.hide-toolbar .ql-container {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  /* border-top: 1px solid #e2e8f0 !important; */
}
