.ant-avatar-image {
  background-color: transparent !important;
}

.ant-badge {
  z-index: 1;
}

.ant-spin-text {
  color: var(--primary);
}

.ant-empty-description {
  color: var(--sub-text) !important;
}

.ant-app,
.lk-room-container {
  height: var(--full-height);
  & > .ant-spin-nested-loading {
    height: var(--full-height);
    .ant-spin {
      max-height: none;
    }
    .ant-spin-container {
      height: var(--full-height);
    }
  }
}

.ant-popover .ant-popover-inner {
  padding: 0;
}

.ant-image-mask-info {
  color: #fff;
}

.ant-image-preview-img {
  background-color: #fff;
}

.grid-image {
  .ant-image {
    position: unset;
  }
}

.message-image {
  .ant-image-mask {
    border-radius: 6px;
  }
}

.quote-image {
  .ant-image-mask {
    opacity: 0 !important;
  }
}

.common-menu-popover {
  .ant-popover-content {
    transform: translateY(-36px);
  }

  @media only screen and (min-width: 600px) {
    .ant-popover-content {
      transform: translate(42px, -36px);
    }
  }
}

.profile-popover {
  .ant-popover-content {
    transform: translateX(12px);
  }
}

.chat-drawer {
  margin-top: var(--searchbar-height);

  .ant-drawer-content-wrapper {
    box-shadow: -7px 0px 7px 1px rgba(30, 116, 222, 0.05);
    min-width: 460px;
  }

  .ant-drawer-header {
    padding: 0 24px;
    background-color: #e8eaef;
    border: none;

    .ant-drawer-header-title {
      height: 64px;
    }

    .ant-drawer-close {
      position: absolute;
      right: 24px;
      margin: 0;
    }
  }

  .ant-drawer-body {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .anticon-close,
  .anticon-right {
    color: #8e9ab0;
  }
}

.disabled-upload {
  .ant-upload {
    cursor: auto;
  }
}

.no-padding-modal {
  .ant-modal-content {
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
  }
}

.global-search-modal {
  .ant-modal-content {
    border-radius: 16px;
  }

  .message-drawer-tab {
    .ant-tabs-nav {
      padding: 0 32px;
      margin-bottom: 0;
      border-bottom: 1px solid var(--gap-text);
    }
  }

  .ant-tabs-content-holder {
    .ant-tabs-content {
      padding: 0 12px;
      overflow-y: hidden;
    }
  }
}

.rtc-single-modal {
  .ant-modal-content {
    padding: 0;
    border-radius: 16px;
    overflow: hidden;
  }
}

.bold-label-form {
  .ant-form-item-label {
    label {
      color: var(--base-black);
      font-weight: 500;
    }
  }
}

.sub-label-form {
  .ant-form-item-label {
    text-align: start;
    label {
      color: var(--sub-text);
    }
  }
}

div .ant-btn-primary {
  background-color: var(--primary);

  &:disabled {
    opacity: 0.5;
    color: #fff;
    background-color: var(--primary);
  }
}

.ant-switch {
  background-color: rgba(0, 0, 0, 0.25);
}

.ant-breadcrumb-link {
  line-height: 22px;
}

.choose-box-breadcrumb {
  .ant-breadcrumb-link {
    color: var(--sub-text);
    font-size: 12px;
  }
  li {
    &:last-child {
      .ant-breadcrumb-link {
        color: var(--primary);
      }
    }
  }
}

.no-addon-search {
  .ant-input {
    border-radius: 6px !important;
  }
  .ant-input-group-addon {
    display: none;
  }
}

.flex-1,
.h-full > .ant-spin-container {
  height: 100%;
  width: 100%;
}

.h-full > .ant-spin-container {
  height: 100%;
  width: 100%;
}

.h-full > .ant-spin-container {
  height: 100%;
}

.meeting-form {
  .ant-picker {
    width: 100%;
  }

  .ant-form-item-label > label {
    color: rgba(81, 94, 112, 0.7);
  }
}

.drop-file-moal {
  .ant-modal-confirm-content {
    max-width: 100% !important;
  }
}

.ant-skeleton-with-avatar
  .ant-skeleton-content
  .ant-skeleton-title
  + .ant-skeleton-paragraph {
  margin-block-start: 12px;
}

.ant-skeleton-with-avatar .ant-skeleton-content .ant-skeleton-title {
  margin-block-start: 0;
}

.ant-skeleton .ant-skeleton-header .ant-skeleton-avatar {
  border-radius: 6px;
}

.send-action-dropdown {
  .ant-dropdown-menu-item {
    padding: 4px 6px !important;
    width: 120px !important;

    span {
      font-size: 12px;
      color: var(--sub-text);
    }

    .anticon-check {
      color: var(--primary);
    }
  }
}
