.message-container {
  @apply flex flex-1;

  .message-wrap {
    @apply ml-3 flex flex-1 flex-col;

    .message-profile {
      @apply mb-1 flex w-full space-x-2 text-xs text-[var(--sub-text)];
    }

    .bubble {
      @apply w-fit rounded-md p-2.5;
      word-break: break-all;
      background-color: var(--chat-bubble);
    }
  }

  .menu-wrap {
    @apply flex max-w-fit space-x-2;
  }

  &-sender {
    @apply flex-row-reverse;

    .message-wrap {
      @apply mr-3 items-end;

      .message-profile {
        @apply flex-row-reverse space-x-reverse;
      }

      .bubble {
        background-color: var(--chat-bubble-sender);
      }
    }

    .menu-wrap {
      @apply flex-row-reverse space-x-reverse;
    }
  }
}

.animate-container {
  // background-color: var(--primary-active);
  animation: animate 2s ease-in-out;
}
@keyframes animate {
  from {
    background-color: var(--primary-active);
  }
  to {
    background-color: transparent;
  }
}

.card-shadow {
  @apply w-60 cursor-pointer overflow-hidden rounded-md shadow-md;
  box-shadow: 3px 3px 8px 1px rgba(81, 94, 112, 0.1);
}

.bubble {
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}

.edit-wrapper {
  :global {
    .ql-editor {
      margin: 0 !important;
      max-height: 200px;
    }
  }
}
